@import "tailwindcss";

:root {
  /* Cores baseadas no seu wireframe */
  --background: #FDF1B8; 
  --foreground: #171717;
}

/* Remova ou comente a media query de dark mode se quiser manter o visual bege */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
